@{
    ViewData["Title"] = "Главная"; //"Home Page";
}
<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<html>
    <head>
    
    </head>
    
    <body>
        <h1 class="display-4 fw-normal">Добро пожаловать на портал для изучения иностранных языков.</h1>
        <p class="fs-5 text-muted">
            Данный портал помоет Вам в изучении иностранных языков. На данном портале расположены 
            основные теоретические материалы, основные слова, тексты и тесты, которые позволят 
            получить базовые знания необходимого Вам иностранного языка.
            На данный момент портал позволяет учить английский, испанский и турецкий языки.
        </p>
    </body>
</html>