@{
    //Layout = "_";
}
<html>
<head>
    </head>

<body>
    <h1 style="text-align:center">Теоретические материалы по ... языку</h1>
    <table style="text-align:center" class="w-100 table table-primary">
        <thead>
            <tr>
                <th>Тема</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Множественное число</th>
            </tr>
        </tbody>
    </table>
</body>
</html>